@font-face{
  font-family: Inter;
  src: url('../fonts/Inter/inter.ttf');
  font-weight: bold;
}

@font-face{
  font-family:Outfit;
  src:url('../fonts/Outfit/outfit.ttf');
  font-weight: normal;
}
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body{
  background: #383434;
  overflow-x: hidden;
}

img{
  max-width: 100%;
}

nav{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  /* align-content: center; */
  padding: 0 70px;
  gap: 10px;
  translate:0 20px;
  transition: 1s translate;
  animation: nav 0.5s ease-in-out;
}

#nav-bar-small{
  display: none;
}

@keyframes nav{
  0%{
    translate:0 0px;
  }
  100%{
    translate:0 20px;
  }
}

.items:first-child{
  margin-right: auto;
  width:200px;
  height:100px;
  
}

nav .items{
  /* border:1px solid rgb(213, 192, 192); */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding:10px 0;
  align-self: center;
  width: 70px;
  height:40px;
  position: relative;
  color: #FFF;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Outfit;
  font-size: 15.47px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.483px;
}

nav .items:last-child{
  margin-left: auto;
  height: 60px;
  width:156px;
 
 
  color: #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  line-height: 28px; /* 155.556% */
  display: flex;
  padding: 16px 28px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-weight: 600;
  border-radius: 15px;
  border: 2px solid #FFF;

  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}

nav .items:last-child:hover{
  color:black;
  background:#ffffff;
  transition: 0.5s all;
}

nav #arrow{
  margin-left: 7px;
}

.nav-medium-devices{
  display: none;
}
/* Style for Home.jsx */
#grid-container-first{

  display: flex;
  flex-direction: column;
  margin:15vh auto;
  width:80vw;
  justify-content: center;
  align-items: center;
  /* border: 1px solid pink; */
  align-content: center;
  justify-items: flex-start;
}

@keyframes trans{
  0%{
    translate: 0px -4rem 0;
  }

  100%{
    translate: 0;
  }
}

@keyframes vid{
  0%{
    translate: 0 200px;
  }

  100%{
    translate: 0;
  }
}

#desc{
  grid-area:desc;
  /* margin-bottom: 10px; */
  /* border: 1px solid white; */
  width: 60vw;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:5vh;
  margin-bottom: 5vh;
}

#vid{
  grid-area: vid;
  transition: 1s translate;
  animation: vid 0.5s ease-in-out 1;
  /* border: 10px solid white; */
  width: 60vw;
  align-self: center;
}

#vid img{
 width: 60vw;
}
#btn-join{
  grid-area: btn;
  margin-top: 50px;
  
}

#desc h1{
  color: #FFF;
font-feature-settings: 'clig' off, 'liga' off;
font-family: Outfit;
font-size: 40px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: -0.483px;
margin-bottom: 10px;
transition: 1s translate;
  animation: trans 0.5s ease-in-out 1;
  /* border: 1px solid white; */
  width:100vw;
text-align: center;
}

#desc span{
  background-image: url('../images/research.png');
  background-repeat: no-repeat;
  padding-bottom: 30px;
 padding-left: 5px;
}

#desc p{
  color: #FFF;
text-align: center;
font-feature-settings: 'clig' off, 'liga' off;
font-family: Outfit;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: -0.483px;
opacity: 0.75;
text-align: center;
/* text-indent: 42px; */
transition: 1s translate;
animation: vid 0.5s ease-in-out 1;
align-self: center;
width: 60vw;
}

#btn-join button{
  border-radius: 15px;
  border: 2px solid #FFF;
  background-color: rgb(48, 44, 44);
  width:214px;
  height: 75px;
  color: #FFF;
}
#btn-join span{
 
font-family: Outfit;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: 28px; /* 116.667% */

}

#btn-join button:hover{
  border-radius: 20px;
  background: #FFF;
  color: #000000;
  transition: 0.5s all;
}

#grid-container-second{
  display: grid;
  margin-top: 250px;
  grid-template-columns: 35vw 45vw;
  grid-template-rows: 17vh  repeat(4, 43vh);
  grid-template-areas: "Heading Heading"
                        "Item2 Item3"
                        "firstBox Item3"
                        "secondBox secondBox"
                        "thirdBox thirdBox";
  justify-content: center;
  row-gap: 0px;
  
}

#grid-container-second #heading{
  grid-area: Heading;
  text-align: center;
  color: #FFF;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Outfit;
  font-size: 24px;
  
}

#grid-container-second #item2{
  
  grid-area: Item2;
  border-radius: 15px;
  height:20vh;
  /* border: 1px solid whitesmoke; */
}

#item2 img{
  height:43vh;
  width:35vw;
}


.item-box{
  display: flex;
  flex-direction: column;
}

.item-box.first{
  grid-area: firstBox;
  
}

.item-box.first, .second, .third{

  border: 1px solid rgb(213, 204, 204);
  border-radius: 50px;
  padding: 25px;
  
}

.item-box.second{
  grid-area: secondBox;
  justify-self: center;
  width: 40vw;
}

.item-box.third{
  grid-area: thirdBox;
  justify-self: end;
  width: 40vw;
}

.first-item, .second-item{
  width: 21vw;
height: 16vh;
flex-shrink: 0;
text-align: center;
padding-top: 17px;
  border-radius: 30px;
  background: #FFF3C7;
  /* margin: 50px 0  0 42px;   */
  padding:20px;
  display: flex;
align-items: center;

}

.first-item p{
  color: #2A2727;
  font-family: Outfit;
  font-size: 16px;
}
.first-item .hovoured{
  
  color: #FFF;
  text-align: center;
 
}

.first-item:hover{
  background-color: #626873;
  padding:30px;
}

#connector{
   align-self: center;
   position: relative;
   left: -100px;
}




.second-item {
background: #8E5DF5;
align-self: flex-end;
position: relative;
top:-100px;
margin: 40px 0  0 42px;  
}

.second-item p{
  color: #FFF;
  text-align: center;
  font-family: Outfit;
  font-size: 16px;
  font-weight: 500;
  margin: 0 auto;
 
}
#grid-container-second #item3{
  grid-area: Item3;
  border-radius: 30px;
  background: #8E5DF5;
  color: #FFF;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Outfit;
  font-size: 96px;
  font-weight: 500;

}

img{
  max-width: 100%;
}
/* Third container style */
.third-container{
  margin-top: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.third-container>h3{
  color:#FFFFFF;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Outfit;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.483px;
}
h3 #diff{
  color: #8E5DF5;
  
}
.image-slider-container {
  position: relative;
  margin-top: 0px;
 
}
.third-container .image-slider{
  height: 397px;
  width: 80vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: opacity 0.5s ease; /* Add a transition for smooth fading */

}
.caption {
 margin: 32px 27px;
  color: #FFF;
font-feature-settings: 'clig' off, 'liga' off;
font-family: Outfit;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: -0.483px;
padding-top: 47px;
}

.caption h3 {
  font-size: 24px;
  margin-bottom: 70px;
}

.caption p {
  font-size: 16px;
  width: 20vw;
}

.convo-list {
  max-width: 600px;
  margin: 15vh 8vw 30vh 0px;
  align-self: flex-end;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  
}

.convo-item{
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
  margin-bottom: 20px;
  border-radius: 20px;
  background: #8E5DF5;
  padding: 20px;
}

.convo-list p, #first-greeting{
  font-size: 16px;
  color: #FFF;
font-feature-settings: 'clig' off, 'liga' off;
font-family: Outfit;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: -0.483px;
}

#first-greeting{
  transition: opacity 0.5s ease, transform 0.5s ease;
  margin-bottom: 20px;
  border-radius: 20px;
  background: #8E5DF5;
  padding: 20px;
  translate: -10px;
  width:15vw;
  align-self: flex-end;
 
}

.convo-item.visible {
  opacity: 1;
  transform: translateX(-10px);
}
#click{
  color: #FFF;
}

.faq-list{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

/* Styles for FAQ */


.faq-container{
  display: grid;
  grid-template-rows: 20vh repeat(4, 1fr);
  grid-template-columns: 30vw 30vw;
  justify-content: center;
  grid-template-areas: "header header"
                       "faq-item-0 faq-item-1"
                       "faq-item-2 faq-item-3"
                       "faq-item-4 faq-item-5"
                       "faq-item-6 faq-item-7"
                        ;
  margin-bottom: 100px;
  column-gap: 100px;
  row-gap: 30px;
  align-items: center;
  align-content: center;
}
.faq-container h2{
  grid-area: header;
  color: #F8F8F8;
font-feature-settings: 'clig' off, 'liga' off;
font-family: Outfit;
font-size: 40px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: -0.483px;
justify-self: center;
}

.faq-items{
  border-radius: 15px;
  border: 1px solid #FFF;
  height:auto;
  width: 30vw;
  padding: 15px 20px;
  display: flex;
  align-content: center;
  flex-direction: column;
  position: relative;
}

.faq-items p, .answer{
  color: #FFF;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Outfit;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.483px;
  margin:auto 0;
  display: flex;
  margin-left: auto;
  gap: 30px;
}

.faq-items img{
  margin-right: auto;
 
  cursor: pointer;
  transition: transform 0.3s ease; 

}
.faq-items.open img {
  transform: rotate(180deg); 
}
.answer {
  display: block;
  z-index: 1;
  margin-top: 5px;
  background-color: #8E5DF5;
  padding: 20px;
  border-radius: 15px;
  width: 30vw;
  font-size: 18px;
  border-radius: 15px;
  border: 1px solid #FFF;
  border-top: 0;
  position: absolute;
  top: 12vh; 
  left: 0;
  overflow: hidden; 
  max-height: 0; 
  transition: max-height 0.3s ease;
}

.faq-items.open .answer {
  height: auto;
  padding: 20px;
  max-height: 500px;
}

.faq-items.open{
  border-bottom: 0;
 
}

.faq-items.answer{
  height: 100vh;
}


/* Style for footer */

.footer-container{
   display: flex;
   margin-top: 50vh;
   width:80vw;
   padding: 0 50px;
   height: 30vh;
   align-items:flex-end;
   
}

.footer-container .flex-items{
  width: 5vw;
  row-gap: 0px;
  color: #FFF;
font-feature-settings: 'clig' off, 'liga' off;
font-family: Outfit;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: -0.483px;
}

.flex-items-1{
  margin-right: auto;
  align-self: flex-start;
  width: 20vw;
  /* justify-self: stretch; */
  
}

.social-links{
 display: flex;
 gap:15%;
 align-items: flex-end;
}


.footer-container .flex-items-lists{
  margin-left: auto;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns:1fr 1fr ;
  gap: 30px;
  align-self: flex-start;
  color: #FFF;
  font-family: Outfit;
  font-size: 20px;

}

#last-item{
  display: flex;
  justify-content: flex-start;
  padding: 30px 80px;
  margin-top: 50px;
  color: var(--Gray-400, #98A2B3);
  font-family: Outfit;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; 
}




/*  media query for small screens */
@media screen and (max-width: 1024px) {
  #nav-bar-small {
  display: grid;
  grid-template-columns: 70vw;
  grid-template-rows: repeat(5,10vh);
  grid-template-areas:  "close"
                        "first"
                        "second"
                        "third"
                        "fourth";
  position: absolute;
  right: -30vw;
  top:0vh;
  background-color: #8E5DF5;
  height: 90vh;
  z-index: 1;
  border-bottom: 1px solid #383434;
  border-radius: 5px;  
  translate:-10vw 0vw;
  transition: 1s translate;
  padding-top: 10vh;
  animation: nav 0.5s ease-in-out;
}
#grid-container-first{

  display: flex;
  flex-direction: column;
  margin:15vh auto;
  width:80vw;
  justify-content: center;
  align-items: center;
  /* border: 1px solid pink; */
  align-content: center;
  justify-items: flex-start;
}
@keyframes nav{
  0%{
    translate:100vw 0px;
  }
  100%{
    translate:-10vw 0;
  }
}

#close-bar{
grid-area: close;
position: absolute;
top: -5vh;
left:40vw;
height: 5vh;
}
.nav-medium-devices{
   display:flex;
   padding: 20px 70px;
  }

.logo{
  width: 0;
}
.small-logo{
  margin-right: auto;
  width: 30vw;
  position: absolute;
  top:4vh;
  left:8vw;
}

#dropdown-btn{
  margin-left: auto;
 
  display: inline-flex;
  position: absolute;
  top:4vh;
  right:8vw;
  padding: 5px;
}


 
button img:hover{
  transform: scale(1.1);
}
#close-bar:hover{
  transform: scale(1.1);
}
button img,img#close-bar{
  width: 4vw;
  cursor: pointer;
  transition: transform 0.3s ease; 
  transform: rotate(180deg); 
  /* z-index: 1; */
}

.items:first-child {
    margin-right: 0;
    width: 0;
  }
  
  #first-item{
    grid-area: first;
    
  }
  #second-item{
    grid-area: second;
    
  }
  #third-item{
    grid-area: third;
   
  }
  #fourth-item{
    grid-area: fourth;
    
  }

  #nav-bar-small .items:last-child{
    margin:0px;
    height: 7vh;
    width:40vw;
    position: absolute;
    top:15vh;
    justify-self: start;
    left: -5vw;
  }

.nav-medium-devices #dropdown-btn{
    background: #383434;
    border: 0;
    /* width:20vw; */
    
  }

  
  #grid-container-first {
    grid-template-columns: 90vw;
  }
 
 h1#title{
  font-size: 30px;
 }
 
 #desc p{
  font-size: 18px;
 }
#nav-bar{
  display: none;
}
}

@media screen and (max-width: 1096px) {
  
  #grid-container-second{
    display: grid;
    margin-top: 250px;
    grid-template-columns: 35vw 45vw;
    grid-template-rows: 17vh  repeat(4, 50vh);
    grid-template-areas: "Heading Heading"
                          /* "Item2 Item2" */
                          "firstBox firstBox "
                          "secondBox secondBox"
                          "thirdBox thirdBox";
    justify-content: center;
    row-gap: 0px;
    padding: 20px;
  }
  #grid-container-second #item2{
  
    grid-area: Item2;
    border-radius: 15px;
    height:20vh;
    display: none;
    /* border: 1px solid whitesmoke; */
  }
  

  #item2 img{
    height:40vh;
    width:65vw;
  }

  .second-item {
    
    top:-90px;
    
    }
    #connector{
      align-self: center;
      position: relative;
      left: -150px;
   }
  #grid-container-second #item3{
    display: none;
  }

  .item-box.first, .item-box.second, .item-box.third{
    
    width:60vw
  }
  .first-item, .second-item{
    width: 40vw;
    height: 15vh;
  } 
  .third-container{
    margin-top: 0vh;
}
}


@media screen and (max-width: 800px) {
  .item-box.second,.item-box.third,.item-box.first{
    justify-self: center;
    width:80vw;
  }
  
  #grid-container-second{
    row-gap: 5vh;
  }
  .first-item, .second-item{
    width: 45vw;
    
  } 
  #connector{
   
    left: -120px;
 }
}



@media screen and (max-width: 1024px) {
  #grid-container-second {
    grid-template-columns: 1fr;
  }
 
  
}

/* Adjust styles for small screens */
@media screen and (max-width: 768px) {

  #desc h1{
  font-size: 30px;
  
}
.convo-item.visible {
  opacity: 1;
  transform: translateX(0px);
}

  .faq-container{
    display: grid;
    grid-template-rows: 20vh repeat(8, 20vh);
    grid-template-columns: 70vw;
    /* justify-content: center; */
    grid-template-areas: "header"
                         "faq-item-0"
                         "faq-item-1"
                         "faq-item-2"
                         "faq-item-3"
                         "faq-item-4"
                         " faq-item-5"
                         "faq-item-6"
                         " faq-item-7"
                          ;
    margin-bottom: 100px;
    column-gap: 0px;
    row-gap: 0px;
    align-items: flex-start;
    margin: 0 auto;
    /* border: 19px solid white; */
    justify-content: center;
  }

  .faq-items{
    
    height:auto;
    width: 70vw;
    padding: 20px;
    display: flex;
    align-content: flex-start;
    flex-direction: column;
    position: relative;
    align-items: flex-start;

  }
  .answer {
    width:80vw;}


    /* Style for the footer */
.footer-container{
  display: grid;
  justify-content: stretch;
  padding: 10px;
  grid-template-columns: repeat(2, 40vw);
  grid-template-rows: repeat(2, auto);
  grid-template-areas: "footerL lists"
                        "socialLinks socialLinks";
}
.flex-items-1{
  grid-area: footerL;
  width: 25vw;
  align-self: center;
  justify-self: center;
  margin: 1px auto;
}

.social-links{
  grid-area: socialLinks;
  justify-self: center;
  align-items: end;
  padding-top: 10vh;
  width: 30vw;
}
   
.flex-items-lists{
  grid-area: lists;
  font-size: 16px;
}  
   
}

@media screen and (min-width: 700px){

  .convo-item{
    height: auto;
    
  }
}
