

.verify-container{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    height:60%;
    width:50vw;
    align-content:space-between;
    padding-top: 50px;
    /* border:1px solid gray; */
    align-items: center;
    margin: 0px auto;
    gap: 4px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
.verify-container img{
    align-self: center;
    width: 150px;
}
.verify-container h1{
    align-self: center;
    font-size: 26px;
    font-family: Outfit;
    margin-top: 10px;
    color: rgba(0, 0, 0, 0.7);
}

#verify-box{
    border:1px solid rgba(128, 128, 128, 0.5);
    display: flex;
    flex-direction: column;
    gap:20px;
    padding: 30px;
    margin-top: 50px;
    width: 70%;
    border-radius: 15px;
}
.otp-input-container {
    display: flex;
    justify-content: center;
  }
  
  .otp-input {
    width: 40px;
    height: 40px;
    margin: 0 5px;
    font-size: 18px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    flex-wrap: wrap;
  }
  
  .otp-input:focus {
    border-color: #007bff;
  }
  
  .verify-container button{
    background-color: #8E5DF5;
    color: #fff;
    width: 100px;
    padding: 5px;
    border-radius: 5px;
  }

  .verify-btns {
    gap:20px;
  }
  .verify-container button:nth-child(2){
    border: 1px solid #8E5DF5;
    background-color: #fff;
    color: rgba(0, 0, 0, 0.7);
    opacity: 1;
  }
  .verify-container button.not{
    background-color: #8E5DF5;
    color: #fff;
    width: 100px;
    padding: 5px;
    border-radius: 5px;
    opacity: 1;
  }
  .verify-container button:hover{
    box-shadow: 1px 1px 10px rgba(128, 128, 128, 0.2);
  }

  button.disabled-button {
    cursor: not-allowed;
    opacity: 0.5;
  }
  button.disabled-button:hover{
    box-shadow: none;
  }
/* Styles for Successful email sent page */
.email-sent-container{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #fff;
  gap:50px;
}
  
.email-sent-container img{
  height: 80px;
  width: 200px;
  margin: 10px;
}

.email-sent-container .msg{
  align-self: center;
  
}

.email-sent-container .title{
  display: flex; 
  gap: 10px;
  align-items: center;
  margin-bottom: 20px;
}

.email-sent-container h2{
  font-family: Inter;
  color: #121212;
  
}

.email-sent-container p{
  font-family: Outfit;
  padding-left: 20px;
}

.email-sent-container #link{
  font-weight: bold;
  padding-right: 3px;
}
.email-sent-container #link:hover{
  opacity: 0.9;
}
@media screen and (max-width:993px){
  .email-sent-container{
    gap:50px;
  }
}
  @media only screen and  (max-width:790px){
    .verify-container{
        width: 80vw;
    }
    
    #verify-box{
        width: 100%;
     }

    .email-sent-container{
      gap:70px;
    }

    .email-sent-container img{
      width:150px;
      height:70px;
    }

    .email-sent-container .msg{
      padding: 20px;
    }
  }

 @media only screen and (max-width:320px){
    .otp-input {
        width: 30px;}
    
    .email-sent-container img{
      width: 100px;
      height:50px;
    }
    .email-sent-container h2{
      font-size: 20px;
    }

    .email-sent-container p{
      font-size: 14px;
    }
 }
